1.Write a code to create a string with your name and print it.

In [31]:
name="subhasmita"
print(name)
print(type(name))

subhasmita
<class 'str'>

2.Write a code to find the length of the string "Hello World"

In [ ]:
text="Hello World"
print(len("Hello World"))

11

3.Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
s = "Python Programming"
first_three = s[:3]
print(first_three)

Pyt

In [ ]:
s="super market"
first_three = s[:3]
print(first_three)

sup

4.Write a code to convert the string "hello" to uppercase.

In [ ]:
s="hello"
upper_s= s.upper()
print(upper_s)

HELLO

5.Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
s = "I like apple"
new_s = s.replace("apple", "orange")
print(new_s)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7.Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
numbers=[1,2,3,4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
numbers=[1,2,3,4,5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [ ]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
my_tuple = ('red', 'green', 'blue', 'yellow')
second_last_element = my_tuple[-2]
print(second_last_element)

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [ ]:
my_tuple = (10, 20, 5, 15)
minimum_number = min(my_tuple)
print(minimum_number)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits = ('apple', 'banana', 'orange')
if 'kiwi' in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Using union() method
union_set = set1.union(set2)
print(union_set)

# Using | operator
union_set_operator = set1 | set2
print(union_set_operator)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Using intersection() method
intersection_set = set1.intersection(set2)
print(intersection_set)

# Using & operator
intersection_set_operator = set1 & set2
print(intersection_set_operator)

{2, 3}
{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}
print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
person={'name':'john','age':25}
person['country']='USA'
print(person)

{'name': 'john', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
person={'name':'bob','age':22,'city':'new york'}
remove=person.pop('age')
print(person)

{'name': 'bob', 'city': 'new york'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

In [ ]:
person={'name':'alice','city':'paris'}
if 'city'in person:
  print("key 'city' is exists")
else:
  print("key'city' does not exist")

key 'city' is exists

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
# Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = (10, 20, 30, 40, 50)

# Creating a dictionary
my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}

# Printing all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30, 40, 50)
Dictionary: {'name': 'John', 'age': 25, 'city': 'New York'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [ ]:
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print(random_numbers)

[21, 42, 54, 60, 65]

In [ ]:
import random

# creat a loist of 5 random numbers between 1 and 100
random_numbers = [random.randint(1,100) for _ in range (5)]

# sort the list in ascending order
random_numbers.sort()

# print the sorted list
print(random_numbers)

[6, 7, 40, 56, 66]

28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
# Create a list with strings
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Print the element at the third index
print(my_list[3])

date

29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
# Creating two dictionaries
dict1 = {'name': 'John', 'age': 25}
dict2 = {'city': 'New York', 'country': 'USA'}

# Method 1: Using update() method (modifies dict1)
dict1.update(dict2)
print("Combined dictionary using update():", dict1)

Combined dictionary using update(): {'name': 'John', 'age': 25, 'city': 'New York', 'country': 'USA'}

30. Write a code to convert a list of strings into a set.

In [ ]:
# creat a list of strings
my_list = ['apple','banana','apple','cherry','banana']

# convert the list to a set
my_set = set(my_list)

# print the set
print(my_set)

{'cherry', 'apple', 'banana'}